<h1>Pages#about</h1>
		<p>Find me in app/views/pages/about.html.erb</p>
		
		
		
		
		<ul>
        <li><a href="/pages/about">about</a></li>
        <li><a href="/pages/contact">contact</a></li>
        <li><a href="/pages/home">home</a></li> 
</ul>